.card {
  width: 85%;
  margin: 2% auto;

  button {
    font-size: 1.5rem;
  }
}

.feed {
  width: 50%;
  margin: 0 auto;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3%;
  width: 25%;
  margin: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 800px) {
    display: block;
  }

  .card {
    width: 75%;
    margin: 2% auto;

    button {
      font-size: 1.5rem;
    }
  }

  .image-container {
    max-height: 310px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.status {
  background-color: $longterm-green;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.image-container {
  max-height: 500px;

  overflow: hidden;

  img {
    width: 100%;
  }
}

h4 {
  text-align: start;
  font-size: 1.5rem;
  margin: 2%;
}

.location {
  text-align: start;
  margin: 1% 2%;
}

//Modal Styles

.modal-header {
  p {
    margin: 0;
    font-size: 1rem;
    font-weight: normal;
  }
}

.modal-body {
  padding: 0;

  .bottom-content {
    margin: 2%;
    font-size: 1.2rem;

    .progress-info {
      display: flex;
      justify-content: space-between;
      background-color: inherit;
    }

    .progress {
      margin-bottom: 2%;
    }

    .progress-bar {
      background-color: $green;
    }

    span {
      font-weight: bold;
    }
  }
}

.modal-footer {
  padding: 0;

  button {
    width: 50%;
    padding: 2%;
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
  }

  .delete-button {
    color: $critical-red;
  }
}

.getButton {
  margin: 5% 36%;
  background-color: $green;
  color: white;
  border-radius: 30px;
  border: 2px solid $gray;
  font-size: 1.5rem;
  outline: none;

  padding: 1% 2%;

  &:focus {
    outline: 0;
  }
}

.supporter-modal {
  .donate-button {
    width: 100%;
  }
}
