.create-form {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 60%;
  margin: 0 auto;
  background-color: white;
  padding: 2%;
  border-radius: 5px;

  h2 {
    text-align: center;
  }

  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .image-description-cont {
      display: flex;
      border: 1px solid red;

      label {
        cursor: pointer;
        position: absolute;
        visibility: hidden;
      }

      &:hover {
        label {
          visibility: initial;
        }
      }

      .description {
      }

      .image {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      img {
        border: 1px solid red;
      }
    }

    input {
      border-radius: 5px;
    }

    .list-group-item {
      font-weight: bold;
    }

    .urgent {
      color: $urgent-orange;
    }

    .critical {
      color: $critical-red;
    }

    .pressing {
      color: $pressing-yellow;
    }

    .longterm {
      color: $longterm-green;
    }

    .submit-button {
      background-color: $green;
      color: white;
      border-radius: 30px;
      border: 2px solid $gray;
      font-size: 2rem;
      width: 30%;
      margin: 1% auto 0;
      padding: 0.5%;
      outline: none;
    }
  }
}
