.nav-cont {
    height: 10vh;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    // align-items: center;
    // padding: 1% 0;
    margin: auto;
    background-color: $longterm-green;
    height: 100%;


    button {
        padding: 0 1%;
        background-color: inherit;
        border: none;
     }

    .menu-item {
        margin: 0 2%;
        display: flex;
        align-items: center;
        color: black;
        font-size: 1.9rem;
        height: 100%;
        border-bottom: 3px solid $longterm-green;
        padding: 0 1%;

        &:hover {
            color: white;
            text-decoration: none;
            border-bottom: 3px solid white;
            background-color: #9cb973;
        }

        @media(max-width: 800px) {
            font-size: 1rem;
            padding: 2%;
        }
    }

    button {
        background: none;
        border: none;
    }

}