.nav-list {
    display: flex;
    justify-content: flex-end;
    padding: 1% 0;
    margin: auto;
    background-color: $green;

    button {
        padding: 0 1%;
        background-color: inherit;
        border: none;
     }

    .menu-item {
        margin: 0 2%;
        color: black;

        &:hover {
            color: white;
        }
    }
    
}