.App {
    background-color: #707070;
  text-align: center;
}

.nav-tabs {
  justify-content: center;
}

form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 30%;
  margin: auto;
}

button {
  margin: 5% auto;
  width: 35%;
  border-radius: 10px;
}